@import '../../App.scss';

.hero{
    &__container{
        margin-top: 3.5rem !important;
        padding-top: 4.8rem !important;
        width: 60%;

        // div{
        //     padding-top: 5rem !important;
        // }

        span{
            font-family: $font;
            font-size: 19px;
            margin-left: .4rem;
        }

        h1{
            font-size: 4.7rem;
            line-height: 70px;
            letter-spacing: -2px;
            margin: 0 !important;
        }

        p{
            width: 80%;
            margin-top: 3.5rem;
            font-size: 18px;
            font-family: $font-text;
        }
    }
}